<!DOCTYPE html>
<html lang="en" class = 'h-100'>
<head>
    <meta charset="UTF-8">
    <title>Encryption page</title>

    {% extends 'encrypt/base.html' %}

    {% block content %}

    {% load static %}

    <link rel = 'stylesheet' href = '{% static "encrypt/style.css" %}'>

    <script>
        function copyText() {
            var text = document.getElementById("ciphertext");
            text.select();
            navigator.clipboard.writeText(text.value);
        }
    </script>

</head>
<body>

<!-- Main page -->

<div class = 'mt-5'>
  <h1 class = 'text-center'>Choose encryption odject</h1>
    <div class = 'd-flex justify-content-evenly h-100'>
      <div style = 'flex-basis:45%;'>
        <h2 class = 'd-flex justify-content-end'>Text encryption</h2>
        <form method = 'POST' name = 'textform' action = '{% url "encryption" %}'>
          {% csrf_token %}
          <textarea class="form-control" name = 'text' rows="3" style = "width:100%;" placeholder="Enter your text">{{ text }}</textarea><br>
          <textarea class="form-control" name="textPassword" rows="1" style = "width:100%;" placeholder="Enter your password">{{ textPassword }}</textarea>
          <div class = 'd-flex justify-content-evenly my-3'>
            <button class = 'btn btn-primary col-2' id = 'btn' type = 'submit' name = 'button' value ='AESpressedText' onclick='showText()'>AES</button>
            <button class = 'btn btn-primary col-2' type = 'submit' name = 'button' value ='XORpressedText'>XOR</button>
          </div>
        </form>
        <h4>Your encrypted text:</h4>
        <textarea readonly="readonly" class="form-control" rows="3" style = "width:100%;" id = "ciphertext">{{ cipherdata }}</textarea>
        <div class = 'd-flex justify-content-center my-3'>
          <button class = 'btn btn-primary col-4' onclick="copyText()">Copy encrypted text</button>
        </div>
      </div>
        <hr width="3" color = '#00000'>
        <div style = 'flex-basis:45%;'>
            <h2>File encryption</h2>
            <div class = 'list-group-item-danger'>
                <h4>ATTENTION:file's name must contain only latin characters</h4>
            </div>
            <div class="mb-3">
                <form method = 'POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="form-control" type="file" name="upload" placeholder = 'sdlknv s'vs>
                    <textarea class="form-control" name="filePassword" rows="1" style = "width:100%;" placeholder="Enter your password">{{ filePassword }}</textarea>
                    <div class = 'd-flex justify-content-evenly my-3'>
                        <button class = 'btn btn-primary col-2' id = 'btn' type = 'submit' name = 'button' value ='AESpressedFile'>AES</button>
                        <button class = 'btn btn-primary col-2' type = 'submit' name = 'button' value ='XORpressedFile'>XOR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  {% endblock %}

</body>
</html>
